<ul class="nav nav-pills">
    <li>{{articleTitle}}</li>
    <li><a>{{articleLink}}</a></li>
    <li>
        <p>{{articleSummary}}</p>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="note">Note</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="save">Save</a>
    </li>
</ul>